* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'h'
        'm'
        'f';

    gap: none;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: h;
    direction: rtl;
    background-color: #634133;
    color:#f4e3b2 ;
}

.main {
    grid-area: m;
    background-color: #f2e9de;
    color:#286983 ;
    padding: 10px;
}

.footer {
    grid-area: f;
    background-color: #634133;
    color:#f4e3b2 ;
    text-align: center;
    padding: 1rem;
}


li {
    padding: 20px;
    list-style-type: none;  
    font-size: 25px;  
}

p {
    font-size: 25px;
}

#top {
    display: flex;
    flex-direction: row;
}

#fill-in-form {
    max-width: 200px;
    background-color: #f4e3b2;
    margin-top: 10px;
    padding: 5px;
}

#name {
    padding: 5px;
}

#email {
    padding: 5px;
}

#message {
    padding: 5px;
}

input {
    color: #286983;
    padding: 5px;
}

input:hover {
    background-color: #f1faee;
}

textarea {
    color: #286983;
    padding: 5px;
}

textarea:hover {
    background-color: #f1faee;
}

#send {
    background-color: #f2e9de;
    color: #286983;
    padding: 2px;
}

#send:hover {
    background-color: #5bc0eb ;
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-rows: 2rem 1fr 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'h'
            'm'
            'f';
    
        gap: none;
        width: 100vw;
        height: 100vh;
    }

    li {
        padding: 10px;
        font-size: 15px;
    }
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    #titleWrapper {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    #title {
        height: 50px;
    }

    #wrapper {
        display: flex;
        justify-content: center;
    }

    #fill-in-form {
        max-width: 190px;
        height: 210px;
        background-color: #f4e3b2;
        padding: 5px; 
    }

    label {
        font-size: 15px;
    }
    
}
    
